body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  .hide {
    display: none;
  }
  
  .quiz-start, .score-container, .play-again {
    text-align: center;
  }
  
  

  
  .time-count {
    display: inline;
    position: relative;
    height: 40px;
    width: 40px;
  }
  
  
  button {
    display: inline-block;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110%;
    background-color: rgb(194, 92, 25);
    border-radius: 2px;
    padding: 2px 10px;
    color: white;
    border: 0;
    
  }
  
 
  
  .choices button {
    display:list-item;
    

    


  }
  
  ol {
    
    padding-left: 0px;
  }
  
  
  
  
  